<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Welcome to Birt database</title>

<link rel="stylesheet" type="text/css" href="style1.css">
</head>

<body>
<h1> Welcome to Birt database </h1>
<p>In this project you will create two applications.
   Both applications will use the Classic Models database.
   The first application will list data about customers
    similarly to the third assignment. The second application will allow a user to choose a customer and will then display information about that customer.</p>
<h2>List Single Customer Information</h2>

<p> Link to <a href="/assignmentfive.first.py"> Access to First Application</a></p>
</body>
</html>
